<%- include('./partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('./partials/sidebar') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h3><%= `Welcome ${username}!`%></h3>
      <h3>Dashboard</h3>
      <hr>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Categories</th>
              <th scope="col">Budget ($)</th>
              <th scope="col">Spent ($)</th>
              <th scope="col">Delta ($)</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((d,i)=> { %>
              <tr>
                <td>
                  <%=d.category_name%>
                </td>
                <td>
                  <%=d.budget%>
                </td>
                <td>
                  <%=d.spent%>
                </td>
                <td>
                  <%=d.delta%>
                </td>
              </tr>
              <%}) %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="pb-5">
            <div class="card custom_card">
              <canvas id="catVsBudget" data-categories="<%= JSON.stringify(catArr) %>" data-budgets="<%= JSON.stringify(budgetArr) %>"></canvas>
            </div>
          </div>
        </div>
      
        <div class="col-lg-6">
          <div class="pb-5">
            <div class="card custom_card">
              <canvas id="catVsSpent" data-categories="<%= JSON.stringify(catArr) %>"
                data-spent="<%= JSON.stringify(spentArr) %>"></canvas>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-6">
          <div class="pb-5">
            <div class="card custom_card">
              <canvas id="deltaPie" data-categories="<%= JSON.stringify(catArr) %>"
                data-delta="<%= JSON.stringify(deltaArr) %>"></canvas>
            </div>
          </div>
        </div>
      
        <div class="col-lg-6">
          <div class="pb-5">
            <div class="card custom_card">
              <canvas id="overview" data-categories="<%= JSON.stringify(catArr) %>"
                data-spent="<%= JSON.stringify(spentArr) %>" data-budget="<%= JSON.stringify(budgetArr) %>"
                data-delta="<%= JSON.stringify(deltaArr) %>"></canvas>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('../public/javascripts/charts') %>

<%- include('./partials/footer') %>