<%- include('./partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('./partials/sidebar') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h3><%= `Welcome ${username}!`%></h3>
      <h3>Overview of Categories</h3>
      <hr>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Categories</th>
              <th scope="col">Budget ($)</th>
              <th scope="col">Spent ($)</th>
              <th scope="col">Delta ($)</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((d,i)=> { %>
              <tr>
                <td>
                  <%=d.category_name%>
                </td>
                <td>
                  <%=d.budget%>
                </td>
                <td>
                  <%=d.spent%>
                </td>
                <td>
                  <%=d.delta%>
                </td>
              </tr>
              <%}) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>

<script>
  var echarts = require('echarts');

  var chartDom = document.getElementById('main');
  var myChart = echarts.init(chartDom, 'dark');
  var option;

  option = {
    xAxis: {
      type: 'category',
      data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        data: [120, 200, 150, 80, 70, 110, 130],
        type: 'bar',
        showBackground: true,
        backgroundStyle: {
          color: 'rgba(180, 180, 180, 0.2)'
        }
      }
    ]
  };

  option && myChart.setOption(option);
</script>

<%- include('./partials/footer') %>