<%- include('./partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('./partials/sidebar') %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h3><%= `Welcome ${username}!`%></h3>
      <h3>Overview of Categories</h3>
      <hr>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Categories</th>
              <th scope="col">Budget</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach((c,i)=> { %>
              <tr>
                <td>
                  <%=c.category_name%>
                </td>
                <td>
                  <%=c.budget%>
                </td>
              </tr>
              <%}) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>



<%- include('./partials/footer') %>