<%- include('../partials/header')%>

<h2>
    Edit Category & Budget: <%=category.category_name%>
    <br>
</h2>

<%=msg%>
<form action="/categories/<%= category._id%>?_method=PUT" method="POST">
    <fieldset>
        <legend>Edit Form</legend>
    <label>Category:
        <input <input name="category_name" placeholder="WRITE IN CAPS" pattern="[A-Z0-9 ]+" value="<%=category.category_name%>" >
    </label>
    <br>
    <label>Budget:
        <input name="budget" type="number" placeholder="No negative budget please" step="0.01" min="0" pattern="^\s*$^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" value="<%=category.budget%>" >
    </label>
    <br>
    <button type="submit">Amend</button>
    </fieldset>
</form>

<%- include('../partials/footer')%>