<%- include('../partials/header') %>

    <h2>All Categories</h2>
    <a href="/dashboard">Dashboard</a>
    <%=msg%>
    <nav>
        <form action="/categories" method="POST">
            <fieldset>
                <legend>Add Category & Budget</legend>
                <label>Category: <input name="category_name" /></label>
                <label>Budget: <input name="budget" /></label>
                <input type="submit" />
            </fieldset>            
        </form>
    </nav>

    <table id="categoryList">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Budget (S$)</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((c,i) => { %>
                <tr>
                    <td>
                        <%=c.category_name%>
                    </td>
                    <td>
                        <%=c.budget%>
                    </td>
                    <td>
                        <form action="/categories/<%=c._id%>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>

            <%}) %>
        </tbody>
    </table>

<%- include('../partials/footer') %>