<%- include('../partials/header') %>

    <h2>All Categories</h2>
    <a href="/dashboard">Dashboard</a>
    <%=msg%>
    <nav>
        <form action="/categories" method="POST">
            <fieldset>
                <legend>Add Category & Budget</legend>
                <label>Category: <input name="category_name" autocapitalize="words" placeholder="WRITE IN CAPS" pattern="[A-Z0-9 ]+"/></label>
                <label>Budget: $<input name="budget" type="number" placeholder="No negative budget please" step="0.01" min="0" pattern="^\s*$^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$"/></label>
                <input type="submit" />
            </fieldset>            
        </form>
    </nav>

    <table id="categoryList">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Budget ($)</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach((c,i) => { %>
                <tr>
                    <td>
                        <%=c.category_name%>
                    </td>
                    <td>
                        <%=c.budget%>
                    </td>
                    <td>
                        <form action="/categories/<%=c._id%>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>
                    </td>

                    <td>
                        <form action="/categories/<%=c._id%>/?_method=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>

            <%}) %>
        </tbody>
    </table>

<%- include('../partials/footer') %>